@import "../../_styles/designtheme.scss";

.tj-base-btn {
    // box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none !important;

    .tj-btn-left-icon,
    .tj-btn-right-icon {
        display: flex;
        align-items: center;
    }

    &.table-pagination-btn{
        &:disabled {
            svg {
                path {
                    fill: none !important;
                }
            }
        }
    }

    &:disabled {
        background: var(--slate-6) !important;
        color: var(--slate-9) !important;
        cursor: auto !important;

        svg {
            path {
                fill: var(--slate-9) !important;
            }
        }
    }
}

.tj-large-btn {
    height: 40px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

.tj-medium-btn {
    height: 32px;
    border-radius: 6px;
    padding: 6px 16px 6px 16px;
    font-size: 14px;
}

.tj-small-btn {
    height: 28px;
    border-radius: 6px;
    padding: 4px 16px 4px 16px;
    font-size: 12px;
}

.tj-extra-small-btn {
    height: 20px;
    border-radius: 4px;
    padding: 0px 8px 0px 8px;
    font-size: 12px;
}

/* Order */
.tj-reverse-btn {
    flex-direction: row-reverse;
}

/* Variants */
.tj-primary-btn {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.00);
    background: var(--indigo-9);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    color: #FDFDFE;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.00);
        background: var(--indigo-10);
        color: #FDFDFE;
    }

    &:focus-visible {
        border: 1px solid rgba(255, 255, 255, 0.00);
        outline: none;
        background: var(--indigo-10);
    }


    &:active {
        background: var(--slate-1);
        border: 1px solid rgba(255, 255, 255, 0.00);
        box-shadow: 0px 0px 0px 4px var(--indigo-6);
        background: var(--indigo-9);
    }

    &:disabled {
        background: var(--button-primary-disabled) !important;
        color: var(--text-disabled-on-solid) !important;
        border: none !important;
    }
}

.tj-zBlack-btn {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.00);
    background: #2B2F30;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    color: #FDFDFE;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.00);
        background: #1a1d1dd6;
        color: #FDFDFE;
    }

    &:focus-visible {
        border: 1px solid rgba(255, 255, 255, 0.00);
        outline: none;
        background: #1a1d1dd6;
    }


    &:active {
        border: 1px solid rgba(255, 255, 255, 0.00);
        box-shadow: 0px 0px 0px 4px #1a1d1dd6;
        background: #1a1d1dd6;
    }

}

.tj-secondary-btn {
    color: var(--indigo-9) !important;
    border: 1px solid rgba(255, 255, 255, 0.00) !important;
    background: var(--indigo-3, #F0F4FF) !important;

    &:hover {
        color: var(--indigo-10) !important;
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        background: var(--indigo-4, #E6EDFE) !important;
    }

    &:active {
        color: var(--indigo-9) !important;
        box-shadow: none;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        background: var(--indigo-5, #D9E2FC) !important;
    }

    &:focus-visible {
        color: var(--indigo-10) !important;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        background: var(--indigo-3, #F0F4FF) !important;

        /* Focus rings/Indigo/light */
        box-shadow: 0px 0px 0px 4px var(--indigo-6);
    }
}

.tj-tertiary-btn {
    color: var(--slate-12);
    border: 1px solid var(--slate-7) !important;
    background: var(--slate-1) !important;

    &:hover {
        color: var(--slate-11) !important;
        border: 1px solid var(--slate-7, #D7DBDF) !important;
        background: var(--slate-4, #ECEEF0) !important;
    }

    &:active,
    &:focus,
    &.always-active-btn {
        border: 1px solid var(--slate-7, #D7DBDF) !important;
        background: var(--slate-5) !important;
        color: var(--slate-12);
        border: 1px solid var(--slate-7);
    }


    &:active {
        background: var(--slate-1);
        box-shadow: none;
        color: var(--slate-12) !important;
    }

    &:focus-visible {
        background: var(--slate-1);
        color: var(--slate-11);
        outline: 1px solid var(--slate-8);
        box-shadow: 0px 0px 0px 4px var(--slate-6);
        outline: none;
        border: 1px solid var(--slate-8, #C1C8CD) !important;
        background: var(--slate-1, #FBFCFD) !important;
    }
}


.tj-ghost-blue-btn {
    color: var(--indigo-9);
    border: none;
    background: transparent;

    &:hover {
        color: var(--indigo-10);
        background-color: var(--indigo-4);
    }

    &:active {
        color: var(--indigo-8);
    }

    &:focus-visible {
        color: var(--indigo-10);
        background: var(--base);
        border: none;
        outline: none;
        box-shadow: 0px 0px 0px 4px var(--indigo-6);
    }

    &:focus {
        box-shadow: 0px 0px 0px 4px var(--indigo-6);
    }

    &:focus:not(:focus-visible) {
        box-shadow: none;
    }
}

.tj-ghost-black-btn {
    color: var(--slate-12);
    border: none;
    background: transparent;

    &:hover {
        background: var(--slate-4, #ECEEF0) !important;
        color: var(--slate-11);
    }

    &:focus-visible {
        color: var(--slate-11) !important;
        box-shadow: 0px 0px 0px 4px var(--slate-6) !important;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        background: var(--slate-1, #FBFCFD) !important;
    }

    &:active,
    &:focus,
    &.always-active-btn {
        color: var(--slate-12) !important;
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        background: var(--slate-5, #E6E8EB) !important;
        box-shadow: none !important;
    }

    &:disabled {
        background: rgba(255, 255, 255, 0.00) !important;
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        color: var(--slate-8) !important;
    }
}

/* // Danger-variants--- */

.tj-primary-danger-btn {
    background: #E54D2E;
    border: none;
    color: #FFFCFC;

    &:hover {
        background: var(--tomato-10);
    }

    &:active {
        background: var(--tomato-11);
        color: #F0F4FF
    }

    &:focus-visible {
        background: var(--tomato-10);
        border: none;
        box-shadow: 0px 0px 0px 4px var(--tomato-6);
        outline: none;
    }

}

.tj-secondary-danger-btn {
    background: var(--tomato-3);
    border: none;
    color: var(--tomato-9);

    &:hover {
        background: var(--tomato-4);
        color: var(--tomato-10);
    }

    &:active {
        background: var(--tomato-5);
        color: var(--tomato-8);
    }

    &:focus-visible {
        background: var(--tomato-4);
        border: none;
        box-shadow: 0px 0px 0px 4px var(--tomato-6);
        color: var(--tomato-8);
        outline: none;
    }
}

.tj-tertiary-danger-btn {
    background: var(--base);
    border: 1px solid var(--tomato-7);
    color: var(--tomato-9);

    &:hover {
        background: var(--base);
        color: var(--tomato-10);
        border: 1px solid var(--tomato-5);
    }

    &:active {
        background: var(--base);
        color: var(--tomato-11);
        border: 1px solid var(--tomato-11);
    }

    &:focus-visible {
        background: var(--base);
        outline: 1px solid var(--tomato-5);
        box-shadow: 0px 0px 0px 4px var(--tomato-6);
        color: var(--tomato-10);
        outline: none;
    }

}


.tj-ghost-danger-btn {
    color: var(--tomato-9);
    background: transparent;
    border: none;

    &:hover {
        color: var(--tomato-10);
    }

    &:active {
        color: var(--tomato-8);
    }

    &:focus-visible {
        border: none;
        box-shadow: 0px 0px 0px 4px var(--tomato-6);
        outline: none;
    }
}

.tj-disabled-btn {
    background: var(--slate-3) !important;
    color: var(--slate-8) !important;
    border: none !important;
}

.dark-theme {
    tj-primary-btn {
        background: #3E63DD;
        border: none;
        color: #FDFDFE;

        &:hover {
            background: var(--indigo-10);
            border: 1px solid #FFFFFF
        }

        &:focus-visible {
            box-shadow: 0px 0px 0px 4px var(--indigo-6);
            border: 1px solid #FFFFFF;
            outline: none;
        }


        &:active {
            background: #849DFF;
            box-shadow: none;
        }

    }


    /* // Danger-variants--- */

    .tj-primary-danger-btn {
        background: var(--tomato-9);
        border: none;
        color: #FFFCFC;

        &:hover {
            background: var(--tomato-10);
            color: #FFFCFC;
        }

        &:active {
            background: var(--tomato-11);
            color: #F0F4FF;
        }

        &:focus-visible {
            background: var(--tomato-10);
            border: none;
            box-shadow: 0px 0px 0px 4px var(--tomato-6);
            outline: none;
            color: #FFFCFC;
        }

    }
}
